*{
    margin: 10px;
    padding: 0px;
}

.blink-it-navbar{
    border-bottom: 1px solid rgb(238, 238, 238);
    height: 86px;
    background-color: white;
    position: sticky;
    top: 0px;
}
.location{
    border-left: 1px solid rgb(238, 238, 238);
    height: 86px;
    padding-top: 15px;
}
.location>h6{
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-bottom: 6px;
    font-size: 18px;
}

.verticle-line{
    border-left: 1px solid rgb(238, 238, 238);
    height: 100%;
}

.location>p{
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.search-bar{
    background-color: #F8F8F8;    
    border-radius: 8px;
    border: 1px solid rgb(238, 238, 238);
    padding: 10px;
    width: 40vw;
}   

.search-bar>input{
    border: none;
    width: 85%;
    background-color: transparent;
    font-size: 14px;
    color: rgb(153, 153, 153);
}

.search-bar>input:focus{
    outline: none;
}

.my-hero-section{
    width: 100vw;
    object-fit: fill;
}

/* .my-hero-section> */

.my-scrollable-div{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    width: 85vw;
    margin-inline: auto;
}

.list{
    width: 100%;
    margin-inline: auto;
    white-space: nowrap;
}

.list>div{
    display: inline-block;
    margin: 10px;
}

::-webkit-scrollbar{
    display: none;
}
.my-catogeries>div{
    padding: 0px;
}
.my-catogeries{
    /* padding: 0px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 10px;
    width: 85vw;
    margin-inline: auto;
}
/* ₹ */
.my-catogeries-div{
    width:85vw;
    display: flex;
    margin-inline: auto;
    /* position: relative; */
    flex-direction: column;
    background: rgb(255, 255, 255);
}

.my-card{
    cursor: pointer;
    padding-right: 20px;
    flex: 0 1 0%;
    min-width: 190px;
    max-width: 190px;
} 

.shadow{
    box-shadow: 0.2rem 0.2rem rgba(0,0,0,.15)!important
}

.time-taken{
    font-weight: 700;
    font-size: 9px;
    color: rgb(54, 54, 54);
    width: fit-content;
    padding: 1px, 3px;
}

.product-name{
    color: rgb(31, 31 ,31);
    font-weight: 600;
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 18px;
    width: 100%;
    height: 36px;
    margin-bottom: 6px;
}

.product-weight{
    font-size: 13px ;
}
.time-taken>.product-weigth{
    color: #666666;
    font-size: 9px;
}

.product-price{
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 12px;
}

.product-btn{
    border: 1px solid green;
    color: rgb(49, 134, 22);
    border-radius: 6px;
    background-color: rgb(247, 255, 249);
    width: 66px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 10px;
}

.my-catogeries-row{
    max-width: 85vw;
    overflow: auto hidden;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 20px;
    column-gap: 20px;
    margin-left: 12px;
    margin-right: 12px;
}

.my-footer{
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-inline: auto;
    width: 85vw;
}

.row-1{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    align-items: flex-start;
}

.row-2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-2-col-1{
    width: 30vw;
}

.row-2-col-2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-2-col-2>button{
    width: 100px;
    height: 30px;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: #213b50;
    margin-inline: 5px;
}

.row-2-col-3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-2-col-3>a{
    border-radius:50%;
    background-color: white;
    width: 40px;
    border: 1px solid black;
    height: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}
.row-3{
    color: #666666;
    font-size: 16px;
    padding: 10px;
    text-align: justify;
    align-items: center;
    margin-inline:auto;
}

.td{
    padding: 30px 20px;
    color: #666666;
    font-size: 16px;
    text-align:center;
    cursor: pointer;
}

.table-1{
    flex: 2;
}

.table-2{
    flex: 4;
}